*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-bottom: 2rem;
  background-image: url('./assets/calm.jpg');
  overflow-y: hidden;


}

@media (max-width: 500px) {
  body{
    background-size: cover ;
    padding-bottom: 2rem;
  }
  
}

@font-face {
  font-family: 'frankie';
  src: url('../src/assets/Frankie.otf') format('otf')
    /* Add additional formats if needed (e.g., .ttf, .eot) */
    /* Specify the paths to the font files for different formats */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}